@import "../../../index.scss";

.card
{
    .back
    {
        font-family: monospace;
        font-size: 1.5rem;
    }

    margin: 2rem 0;
    padding: 0.5rem 1rem;

    @include card;

    overflow: hidden;

    .img_container
    {
        margin-top: 1rem;

        width: 100%;
        display: flex;
        justify-content: center;
        
        img
        {
            width: 100%;
            max-width: 900px;
        }
    }
}