@import "../../index.scss";

@keyframes swipeAnimation 
{
     0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
}

.wrapper
{
    .router
    {
        width: 100%;
        height: 2rem;

        position: relative;

        display: flex;

        $size: 1.6rem;

        @include monospace;
        @include unselectable;

        font-size: $size;
        font-weight: bold;

        // &.mobile
        // {
            
        // }

        .routes
        {
            transform: translateX(-2ch);

            &.mobile_route
            {
                position: absolute;
                left: 0;
            }

            display: flex;

            cursor: pointer;

            a, p
            {
                margin: 0;
                padding: 0;
            }

            a:hover
            {
                color: #aaa;
            }
        }

        .swipeTip
        {
            position: absolute;
            right: 2ch;
            
            color: #00000055;
            opacity: 0;

            animation-name: swipeAnimation;
            animation-direction: alternate;
            animation-duration: 2s;
            animation-delay: 4s;
            animation-iteration-count: 3;
        }

    //     .bracket_left
    //     {
    //         left: -2ch;
    //     }

    //     .bracket_right
    //     {
    //         left: 8ch;
    //     }
    }
}