@import "../../index.scss";

.title
{
    margin: 3rem 0;

    // margin-top: 25vh;
    // margin-bottom: 5rem;
    // margin: 25vh 0 10vh;

    font-family: 'Roboto Mono', monospace;
    // font-size: 1.6rem;

    @include unselectable;
    
    &::before
    {
        content: "$ ";
        opacity: 0.3;
    }

    &::after
    {
        content: ".ch";
        opacity: 0.3;
    }

    &.mobile
    {
        // margin: 1rem 0;

        font-size: 1.5rem;
    }

}