@import "../../index.scss";

.desktop_page
{
    width: 100%;
    height: 100vh !important;

    .game
    {
        flex-shrink: 0;
        background-color: #dddddd;

        overflow: hidden;
    }

    .content
    {
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;

        padding: 5rem 3rem;
    }
}

.mobile_page
{   
    z-index: 0;
    position: relative;

    width: 100%;

    .game
    {

        width: 100%;
        height: 60vh;

        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .main
    {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;

        pointer-events: none;
        
        .click_through
        {
            width: 100%;
            height: 60vh;
        }
        
        .content
        {
            width: 100%;
            flex-grow: 1;

            padding: 2rem 1.5rem;
            overflow-y: auto;
            overflow-x: hidden;

            background-color: $bg-color;

            pointer-events: all;
        }
    }
}