@import "../../index.scss";

.wrapper
{
    margin-top: 1rem;

    @include monospace;
    // font-weight: bold;
    font-size: 1.1rem;

    display: flex;

    .slug
    {
        margin: 0;
        padding: 0;

        cursor: pointer;

        white-space: nowrap;
    }
}