
:root
{
    font-size: calc(0.4 * 1vw + 10px);
}

*
{
    font-family: monospace;
}

body
{
    margin: 0;
}

.canvas-container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.canvas-container canvas
{
    z-index: -1;
}

.navigation
{
    width: 100vw;

    display: flex;
    justify-content: center;
}

.link
{
    font-size: 1.5rem;
    text-decoration: none;
    margin: 1rem 3vw;

    width: 10rem;
    min-width: 6em;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #666666;
    border-radius: 1.3rem;

    transition-duration: 0.1s;
}

.link:hover
{
    box-shadow: 0 0 1em #00000033;
    background-color: #ffffff33;
}

@media handheld 
{
    .link:hover
    {
        box-shadow: none;
        background-color: transparent;
    }
}

.link:active
{
    color: black;
}

.loading-screen
{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Content */

.content-wrapper
{
    display: flex;
    justify-content: center;
    
    position: absolute;
    width: 100%;
    min-height: 22%;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.content-card
{
    box-sizing: border-box;
    background-color: #ffffff33;
    box-shadow: 0 0 1em #00000033;
    border-radius: 1em;
    max-width: 640px;
    width: 95%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.content-card h1
{
    margin: 0 0 .5rem;
}

.content-card p
{
    margin: 0.2rem 0;
}

.content-card a
{
    text-decoration: none;
    border-bottom: 1px dotted black;
    font-weight: bold;
}

.content-card a:visited
{
    color: initial;
}

.email
{
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip
{
    opacity: 0;
    pointer-events: none;

    width: 10em;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    top: 120%;
    left: 50%;
    margin-left: -80px;

    position: absolute;
    z-index: 1;

    transition: opacity 0.5s;
}

.tooltip::after 
{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
}

.email:hover .tooltip {
    opacity: 1;
}