@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono&display=swap');

@import 'react-reflex/styles.css';

html,
body 
{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-color: #edf5fb;
    // background-color: #eeeeee;

    scroll-behavior: smooth;
}

a 
{
    color: inherit;
    text-decoration: none;
}

* 
{
    box-sizing: border-box;
}

@mixin monospace
{
    font-family: monospace;
}

:root
{
    // font-size: 16px; // 1920px width
    // font-size: 13px; // 360px width

    // m = 0.00192307692
    // q = 12.3076923076

    font-size: calc( 0.192307692vw + 12.3076923076px );
}

@mixin card
{
    border-radius: 0.5rem;
    background-color: white;
    // background-color: #f5edea;

    box-shadow:
        3.7px 5px 6px rgba(0, 0, 0, 0.027),
        10.1px 13.5px 23px rgba(0, 0, 0, 0.049),
        30px 40px 77px rgba(0, 0, 0, 0.08)
    ;

    a
    {
        font-weight: bold;

        &[href^="https://github.com"],
        &[href^="https://www.github.com"]
        {
            &::before
            {
                content: '\f09b';
                font-family: "Font Awesome 6 Brands";
                font-weight: 400;
                font-size: 1.4rem;
                margin-right: 1ch;
            }
        }

        &[href^="https://instagram.com"],
        &[href^="https://www.instagram.com"]
        {
            &::before
            {
                content: '\f16d';
                font-family: "Font Awesome 6 Brands";
                font-weight: 400;
                font-size: 1.4rem;
                margin-right: 1ch;
            }
        }

        &[href^="mailto:"]
        {
            &::before
            {
                content: '\40';
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                font-size: 1.4rem;
                margin-right: 1ch;
            }
        }
    }
}

@mixin unselectable
{
    user-select: none;
}

.reflex-container.vertical > .reflex-splitter
{
    background-color: transparent!important;
    width: 9px!important;
    margin-left: -3.5px!important;
    margin-right: -3.5px!important;
    border-left: 3.5px solid transparent!important;
    border-right: 3.5px solid transparent!important;
}